@page "/fetchdata"
@using KirjausjarjestelmaUI.Data
@using KirjausjarjestelmaDB.Data.BlazorApp
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime JSRuntime
@inherits OwningComponentBase<IFishRecordsService>
<h1>Kirjaukset</h1>
<AuthorizeView>
    <Authorized>
        <h4>Tervetuloa, @context.User.Identity.Name!</h4>
        @if (fishRecords == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Kalalaji</th>
                        <th>Paino</th>
                        <th>Pituus</th>
                        <th>Päivämäärä</th>
                        <th>Kirjaaja</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var fishRecord in fishRecords)
                    {
                        <tr>
                            <td>@fishRecord.Type</td>
                            <td>@fishRecord.Weight kg</td>
                            <td>@fishRecord.Length cm</td>
                            <td>@fishRecord.Created.ToString()</td>
                            <td>@fishRecord.UserName</td>
                            <td>
                                <button class="btn btn-primary"
                                        @onclick="(() => EditForecast(fishRecord))">
                                    Muokkaa
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <p>
                <button class="btn btn-primary"
                        @onclick="AddNewForecast">
                    Lisää uusi
                </button>
            </p>
            @if (ShowPopup)
            {
                <div class="modal" tabindex="-1" style="display:block" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title">Edit Forecast</h3>
                                <button type="button" class="close"
                                        @onclick="ClosePopup">
                                    <span aria-hidden="true">X</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Kalalaji:</p>
                                <input class="form-control" type="text"
                                       placeholder="Kalalaji"
                                       @bind="objFishRecord.Type" />
                                <p>Paino:</p>

                                <input class="form-control" type="number"
                                       placeholder="kg"
                                       @bind="objFishRecord.Weight" />
                                <p>Pituus:</p>

                                <input class="form-control" type="number"
                                       placeholder="cm"
                                       @bind="objFishRecord.Length" />
                                <br />
                                <button class="btn btn-primary"
                                        @onclick="SaveForecast">
                                    Save
                                </button>
                                @if (objFishRecord.Id != null)
                                {
                                    <button class="btn btn-primary"
                                            @onclick="DeleteForecast">
                                        Delete
                                    </button>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            }
        }
    </Authorized>
    <NotAuthorized>
        <p>Kirjaudu sisään!</p>
    </NotAuthorized>
</AuthorizeView>
